#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#filter {
  padding: 8px 8px 0;

  mat-form-field {
    width: 100%;
  }
}

#tickets {
  flex: 1;
  overflow: auto;
}

.active-link {
  background-color: rgb(230, 230, 230);
}

.ticket-body {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;

  mat-checkbox {
    position: absolute;
    right: 0;

    &:hover {
      background-color: none;
    }
  }
}