.container {
    display: flex;
    align-items: center;
    padding: 8px;
    
    .subject {
        font-size: larger;
        margin-bottom: 4px;
    }
    
    & .summary {
        flex: 1;
        padding-right: 8px;
    }
  }
  
  
  
  