<!-- Extracted ticket header and messaging functionality to separate components as they are reused by both single ticket and bulk view. -->
<!-- Ideally would also make sep component for all the messages and use websockets for life updates  -->
<div id="container">
  <app-ticket-summary [ticket]="(ticket$ | async)" (onTicketResolve)="closeTicket($event)"></app-ticket-summary>
  <mat-divider></mat-divider>
  <div class="messages">
    <div *ngFor="let message of (messages$ | async); trackBy: trackByItems" class="message">
      <div class="message-sender">
        {{ message.senderType | titlecase }}
      </div>
      <div class="message-text">
        {{ message.text }}
      </div>
      <div class="message-date">
        {{ message.createdAt | date:'medium' }}
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-message-input
    [disabled]="(ticket$ | async)?.status === 'resolved'"
    (onMessageSubmit)="sendMessage($event)"
  ></app-message-input>
</div>
